<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>N E O N</title>
        <meta name="description" content="neon sign generator">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Authorship and Publisher Markup --> 
        <link rel="author" href=" https://plus.google.com/[Google+_Profile]/posts"/>
        <link rel="publisher" href=""/>

        <!-- Schema.org markup for Google+ --> 
        <meta itemprop="name" content="Posture"> 
        <meta itemprop="description" content="This is the page description"> 
        <meta itemprop="image" content=" http://www.example.com/image.jpg">

        <!-- Twitter Card data --> 
        <meta name="twitter:card" content="summary_large_image"> 
        <meta name="twitter:site" content="@publisher_handle"> 
        <meta name="twitter:title" content="Page Title"> 
        <meta name="twitter:description" content="Page description less than 200 characters"> 
        <meta name="twitter:creator" content="@author_handle"> 
        <!-- Twitter summary card with large image must be at least 280x150px --> 
        <meta name="twitter:image:src" content=" http://www.example.com/image.html">

        <!-- Open Graph data --> 
        <meta property="og:title" content="Title Here" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content=" http://www.example.com/" />
        <meta property="og:image" content=" http://example.com/image.jpg" />
        <meta property="og:description" content="Description Here" />
        <meta property="og:site_name" content="Site Name, i.e. Moz" />
        <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
        <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
        <meta property="article:section" content="Article Section" />
        <meta property="article:tag" content="Article Tag" />
        <meta property="fb:admins" content="Facebook numberic ID" />

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href="http://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/instagram-grid.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://www.google-analytics.com/analytics.js"></script><script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    </head>
    <body ng-app="neon">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="neon" ng-controller="neonForm" class="ng-scope">
            <div class='container'>
                <div class='row'>
                    <div class='one column u-pull-left'>
                        <img src="img/lightning.png" class='u-full-width logo'>
                    </div>
<!--                     <div class='two columns u-pull-right'>
                        <p class='text-right'>store coming soon!</p>
                    </div> -->
                </div>

                <div class='row'>
                    <div class='two columns'>
                        <select ng-click="neonForm.showShape()" class="u-full-width" ng-model="neonForm.myDesign" ng-options="design.name for design in neonForm.designs">
                            <option>choose symbol</option>
                        </select>
                    </div>

                    <div class='two columns'>
                        <input ng-click="neonForm.showText()" class='u-full-width' type="text" ng-model="neonForm.name" placeholder="name">
                    </div>

                    <div class='two columns'>
                        <div ng-repeat="font in neonForm.fonts" ng-click="neonForm.selectFont($index, font)" ng-class="{sel: font.name == neonForm.myFont.name}" class="inline">
                            <div class='font-choice'><img ng-src="{{font.img}}"></div>
                        </div><!-- end ngRepeat: font in neonForm.fonts -->
                    </div>

                    <div class='two columns'>
                        <div class='u-full-width' style='height:38px;background-color:purple;'>
                            <small>reserved column</small>
                        </div>
                    </div>

                    <div class='two columns'>
                        <div ng-repeat="color in neonForm.colors" ng-click="neonForm.selectColor($index, color)" ng-class="{sel: color.name == neonForm.myColor.name}" class="inline">
                            <div class="circle" style="background-color:{{color.hex}}"></div>
                        </div>
                    </div>

                    <div class='one column'>
                        <div class="button inline" ng-click="neonForm.randomize()">
                        Randomize
                        </div>
                    </div>


                </div>
            </div>

                <div class="brick">
                    <div ng-show="neonForm.signType == 'shape'" id="neonshape" ng-include src="neonForm.designUrl(neonForm.myDesign)"></div>
                    <h1 ng-show="neonForm.signType == 'text'" id="neontext" style="font-size:{{neonForm.myFont.size}};font-family:{{neonForm.myFont.family}};text-shadow:0 0 10px #fff, 0 0 20px {{neonForm.myColor.hex}}, 0 0 30px {{neonForm.myColor.hex}}, 0 0 40px {{neonForm.myColor.hex}}, 0 0 50px {{neonForm.myColor.hex}}, 0 0 60px {{neonForm.myColor.hex}}, 0 0 70px {{neonForm.myColor.hex}};font-weight:100;line-height:5em;">{{neonForm.name}}</h1>
                </div>

                <div class='container'>
                <h5><i class="fa fa-instagram"></i> gallery</h5>
                </div>

                <ul class="cbp-rfgrid">
                    <li ng-repeat="p in neonForm.pics">
                        <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" title="{{p.caption.text}}"></a>
                    </li>
                </ul>

        </div>



        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62543923-1', 'auto');
          ga('send', 'pageview');

        </script>

</body></html>
